body{
	display:flex;
	background: linear-gradient(#a4cee0,#abd0e0);
	text-align: center;
	justify-content: center;
	align-items: center;
	height:100vh;
	flex-direction: column;
	gap:30px;
}
#clock{
	font-size:120px;
	font-weight:bold;
	text-align: center;
	color:whitesmoke;
}
.section{
	padding:40px 80px;
	background:rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	width: 350px;
	box-shadow:0px 8px 20px rgba(0,0,0,0.2);
}
#stopwatch{
	color:whitesmoke;
	font-size: 80px;
	font-weight: bold;
}
button{
	border-radius: 15px;
	padding:12px 30px;
	font-size: 20px;
	font-weight: bold;
	transition: transform 0.5s;
}
.button{
	border-radius: 15px;
	display:flex;
	justify-content: center;
	gap:20px;
}
button:hover{
	border-radius: 15px;
	background-color: lightgray;
	transform: scale(1.2);
}