.container{
	padding: 20px 25px;
	width: 300px;
	margin: auto;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	margin-top: 300px;
}
h1{
	font-family: Arial;
}
label{
	display: block;
	margin-top: 10px;
	font-size: 15px;
}
input, select, button{
	padding: 8px;
	width:100%;
	border-radius: 5px;
	margin-top: 5px;
	border: 1px solid black;
}
button{
	background-color: beige;
	color: white;
}
button:hover{
	background-color: blue;
}
#hasil{
	font-size: 18px;
	font-weight: bold;
	margin-top: 9px;
	color:#333;
}