nav{
	padding: 30px;
	display: flex;
	justify-content: center;
	gap: 50px;
	align-items: center;
	background-color: rgba(14, 151, 201,0.5);
}

a{
	color: black;
	font-size: 30px;
}
img{

}
#home{
	background-image: url("https://awsimages.detik.net.id/community/media/visual/2025/02/04/ilustrasi-siswa-sma_169.jpeg?w=600&q=90");
	padding-bottom: 250px;
	background-size: cover;
	background-position: center;
}

#home h1{
	text-transform: uppercase;
	font-size: 80px;
	margin-top: 80px;
	margin-left: 80px;
	color: white;
}

#home h3{
	text-transform: uppercase;
	font-size: 30px;
	margin-left: 80px;
	color: white;
	margin-top: -40px;
}
#home button{
	margin-left: 80px;
	padding: 10px;
	font-size: 20px;
}

#Ekskul h1{
	text-align: center;
	font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#Ekskul p{
	text-align: center;
	text-align: center;
	font-family: "Chango", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

#Ekskul .cards{
	display: flex;
	justify-content: center;
	gap: 50px;
}
.item p{
	background-color: darkblue;
	padding: 10px;
	color: white;
}
.item {
	background-color: white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 1.0);
	border-radius: 10px;
}

#Contact img{
	display: flex;
	justify-content: center;
}

#Contact p{
	text-align: center;
	font-family: "Chango", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}
#Contact .row{
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 2rem;
}
.input{
	padding: 10px;
	background-color: steelblue;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 1.0);
	border-radius: 5px;
}
.button{

}