h1 {
	text-align: center;
	background-color: black;
	color: white;
	padding: 30px;
}
nav {
	padding: 10px;
	align-items: center;
	background-color: grey;
	justify-content: center;
	display: flex;
	gap: 50px;
}
a {
	color: white;
	font-size: 30px;
}
.gambar{
	justify-content: center;
	gap: 50px;
	display: flex;
}
.item p{
	font-family: "Chango", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	margin-top: 10px;
  	text-align: center;
  	
}
.footer p{
	display: flex;
	justify-content: center;
	background-color: #2b2b2b;
	gap: 10px;
	align-items: center;
	color: white;
}